<div  *ngIf = "contentAvailable" class="d-flex align-items-start"> 
    <div class="nav flex-column nav-tabs me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a *ngIf="rampsContent" class="nav-link active" id="v-pills-ramps-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ramps" role="tab" aria-controls="v-pills-ramps" aria-selected="true">Ramps</a>
      <a *ngIf="ledgesContent" class="nav-link" id="v-pills-ledges-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ledges" role="tab" aria-controls="v-pills-ledges" aria-selected="false">Ledges</a>
      <a *ngIf="railsContent" class="nav-link" id="v-pills-rails-tab" data-bs-toggle="pill" data-bs-target="#v-pills-rails" role="tab" aria-controls="v-pills-rails" aria-selected="false" >Rails</a>
      <a *ngIf="banksContent" class="nav-link" id="v-pills-banks-tab" data-bs-toggle="pill" data-bs-target="#v-pills-banks" role="tab" aria-controls="v-pills-banks" aria-selected="false">Banks</a>
      <a *ngIf="stairsContent" class="nav-link" id="v-pills-stairs-tab" data-bs-toggle="pill" data-bs-target="#v-pills-stairs" role="tab" aria-controls="v-pills-stairs" aria-selected="false">Stairs</a>
      <a *ngIf="otherContent" class="nav-link" id="v-pills-other-tab" data-bs-toggle="pill" data-bs-target="#v-pills-other" role="tab" aria-controls="v-pills-other" aria-selected="false">Other</a>

    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div *ngIf="rampsContent" class="tab-pane fade show active" id="v-pills-ramps" role="tabpanel" aria-labelledby="v-pills-ramps-tab" tabindex="0">{{rampsContent}}</div>
      <div *ngIf="ledgesContent" class="tab-pane fade" id="v-pills-ledges" role="tabpanel" aria-labelledby="v-pills-ledges-tab" tabindex="0">{{ledgesContent}}</div>
      <div *ngIf="railsContent" class="tab-pane fade" id="v-pills-rails" role="tabpanel" aria-labelledby="v-pills-rails-tab" tabindex="0">{{railsContent}}</div>
      <div *ngIf="banksContent" class="tab-pane fade" id="v-pills-banks" role="tabpanel" aria-labelledby="v-pills-banks-tab" tabindex="0">{{banksContent}}</div>
      <div *ngIf="stairsContent" class="tab-pane fade" id="v-pills-stairs" role="tabpanel" aria-labelledby="v-pills-stairs-tab" tabindex="0">{{stairsContent}}</div>
      <div *ngIf="otherContent" class="tab-pane fade" id="v-pills-other" role="tabpanel" aria-labelledby="v-pills-other-tab" tabindex="0">{{otherContent}}</div>
    </div>
  </div>


  
  
  
  