<div class="text-white p-2">
    <h1 class="text-center">ABOUT</h1>
    <p class="d-flex justify-content-center">
    Ipsum laborum ipsum cillum et Lorem ipsum sit ullamco laboris occaecat.
    Eiusmod dolore sint aliqua culpa sunt officia in exercitation aute ut laboris
    cillum sunt laboris. Ex tempor ut culpa id occaecat ad voluptate qui labore
    nisi est sunt voluptate. Pariatur incididunt id ex magna fugiat adipisicing id
    ut eu labore ipsum. Enim amet nisi exercitation velit nisi consequat laboris
    cillum reprehenderit aliqua est.
    </p>
</div>