<table class="table table-bordered">
    <tbody>  
    <tr id="description">
        <th scope="col">Description</th>
        <th scope="col">DYNAMIC CONTENT</th>
      </tr>
      <tr id="address">
        <th scope="row">ADDRESS</th>
        <td>DYNAMIC CONTENT + MAP</td>
      </tr>
      <tr id="type">
        <th scope="row">TYPE</th>
        <td>DYNAMIC CONTENT</td>
      </tr>
      <tr id="suitability">
        <th scope="row">SUITABLE FOR</th>
        <td colspan="2">DYNAMIC CONTENT</td>
      </tr>
      <tr>
        <th scope="row">PARKING</th>
        <td colspan="2">DYNAMIC CONTENT + MAP</td>
      </tr>
      <tr>
        <th scope="row">WEBSITE</th>
        <td colspan="2">DYNAMIC CONTENT</td>
      </tr>
    </tbody>
  </table>
