@font-face {
    font-family: 'PF Fuel Decay';
    src: url('/assets/fonts/PF_Fuel_Decay.ttf') format('truetype'),
         url('/assets/fonts/PF_Fuel_Decay.woff2') format('woff2'),
         url('/assets/fonts/PF_Fuel_Decay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Fuel Grime';
    src: url('/assets/fonts/PF_Fuel_Grime.ttf') format('truetype'),
         url('/assets/fonts/PF_Fuel_Grime.woff2') format('woff2'),
         url('/assets/fonts/PF_Fuel_Grime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: black !important;
    height: 100%;
    margin: 0;
  }
  
  .container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1; /* This makes the content expand and push the footer down */
  }
  
  .footer {
    background-color: #333; /* Example color */
    color: white;
    text-align: center;
    padding: 15px;
  }