@font-face {
    font-family: 'PF Fuel Decay';
    src: url('/assets/fonts/PF_Fuel_Decay.ttf') format('truetype'),
         url('/assets/fonts/PF_Fuel_Decay.woff2') format('woff2'),
         url('/assets/fonts/PF_Fuel_Decay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Fuel Grime';
    src: url('/assets/fonts/PF_Fuel_Grime.ttf') format('truetype'),
         url('/assets/fonts/PF_Fuel_Grime.woff2') format('woff2'),
         url('/assets/fonts/PF_Fuel_Grime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}