<!-- <app-imagekit-tests
[imagePath]="'/Skate/m_kennett.jpg'"
[imageQuality]="100"
/> -->
<!-- <app-imagekit-tests2
[imagePath]="'/Skate/m_kennett.jpg'"
[imageQuality]="100"/> -->

<!-- <app-imagekit-test-set-height
[imagePath]="'/Skate/m_kennett.jpg'"
[imageQuality]="100"/> -->



<app-title-image-parralax
  [imagePath]="'/Skate/m_kennett.jpg'"
  [backgroundOffset]="60"
  title="SkatEIRE"
  subtitle="Irish Skatepark Directory"
  class="text-styling"
/>

<app-about />

<app-middle-image
[image]="'Skate/shannonskatepark_obstacle_bank.jpg'"
  title="SKATEPARKS"
  subtitle="Click Here to Find Skateparks Near You"
  class="text-styling"/>

  <!-- TEST FOR PARRALEX -->

<app-upload-park-text/>
<app-parralax-image
  [imagePath]="'Skate/shannonpumptrack_main_image.JPG'"
  title="UPLOAD PARK"
  subtitle="Click Here to Add Your Park to the Site"
  class="text-styling"
/>

<!-- <app-test-height-2
[imagePath]="'/Skate/m_kennett.jpg'"
[imageQuality]="100"
[backgroundOffset]="60"></app-test-height-2> -->
<!-- <app-about></app-about> -->


<!-- <app-test-height-2
  [imagePath]="'Skate/shannonskatepark_obstacle_bank.jpg'"
  Skate
  [imageQuality]="100"
></app-test-height-2> -->

<!-- <app-parallax-css
[backgroundImageUrl]="'/assets/m_kennett.jpg'"
/>   -->
