<nav
  class="navbar sticky-top navbar-expand-sm bg-body-tertiary bg-black text-white"
>
  <div class="container-fluid">
    <a class="navbar-brand text-white logo" routerLink="/">Skateire</a>
    <button
      class="navbar-toggler ms-auto text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon bg"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto button-font">
        <li class="nav-item">
          <a
            class="nav-link text-white active"
            aria-current="page"
            routerLink="/"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/skateparks"
            routerLinkActive=""
            >SKATEPARKS</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/news" class="nav-link text-white">NEWS</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/contacts"
            routerLinkActive=""
            >CONTACTS</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/form"
            routerLinkActive=""
            >FORM</a
          >
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-success text-white" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
