<div class="text-white p-2">
  <h2 class="text-center about-title-styling">ABOUT</h2>
  <p class="d-flex about-body-styling">
    Skateire is your go-to online directory for skateparks and pump tracks
    across Ireland. Whether you're into skateboarding, scooters, BMX, or inline
    skating, we've got all the details you need on the best (and worst) parks
    around the country. This site is built by skateboarders, with the aim of
    being a valuable resource for the Irish skate community. If you'd like to
    see your local park featured here, just drop us a line via our contacts
    page. To get started click on Skateparks below or via the navigation bar.
  </p>
</div>
