.bottom-spacer {
    display: block;
    height: 90px; /* Ensure it takes space */
    width: 100%; /* Optional, makes sure it spans the width */
    background-color: transparent; /* Add color temporarily to debug */
    margin: red 1;
  }
  