ul {
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;
    justify-content: center;
}

li {
    display: inline-block;
    margin: 20px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}