.parallax1{
  /* The image used */
  background-image: url("/assets/m_kennett.jpg");

  /* Set a specific height */
  min-height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2{

    /* Set a specific height */
    height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.img-fluid {
    width: 100%; 
    height: auto; 
  }