.table-bordered {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table{
      background-color: black;
      color: white;
  }

  .nav-link{
    color: white;
}

.tab-pane{
    background-color: black;
    color: white;
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider img{
    width: 100%;
    display: none;
  }
  
  .slide{
    max-width: 100%;
    height: auto ;
  }
  
  .slider img:first-child {
    display: block;
  }
  
  img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  .slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.503);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 2;
  }
  
  .prev{
    left: 0;
  }
  
  .next{
    right: 0;
  }
  
  @keyframes fade{
    from{opacity: .5;}
    to{opacity: 1}
  }

  .tab-titles{
  font-family: 'PF Fuel Grime';
  font-size: 1.25rem;
  }